* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: larger;
  font-weight: 500;
  color: #ffffff;
}


/* START HEADER */
header {
  background-color: black;
  text-align: center;
  padding-block: 50px;
}

header img{
  height: 120px;
}

/* ENDS HEADER */



/* START MAIN */
main {
  min-height: 60vh;
}

.hero {
  background-color: #0A0E15;
  min-height: 20vh;
  padding: 50px 20px;
}

.hero h2 {
  margin-bottom: 50px;
}




.content {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.box {
  flex: 1;
  min-width: 200px;
  background-color: #37404F;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.box a {
  text-decoration: none;
  color: greenyellow;
}

.box p {
  color: whitesmoke;
}

.box:hover {
  background-color: #4E5766;
}


.second-hero {
  background-color: #202531;
  min-height: 20vh;
}


.third-hero {
  background-color: #37404F;
  min-height: 20vh;
}

.fort-hero {
  background-color: #4E5766;
  min-height: 20vh;
}

/* ENDS MAIN */


/* START FOOTER */
footer {
  background-color: #667085;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: medium;
}

/* ENDS FOOTER */





/* Responsive: for tablets and below (≤ 768px) */
/* متجاوب: للأجهزة اللوحية وما دونها (≤ 768px) */

@media (max-width: 768px) {
  body {
    font-size: medium;
  }

  header {
    padding-block: 25px;
  }

  header img{
  height: 75px;
  }

  .hero {
  padding: 25px 10px;
  }
  .hero h2 {
  text-align: center;
  margin-bottom: 25px;
  }

  .content {
  flex-direction: column;
  align-items: center;
  }

  .box {
    width: 90%;
  }

  footer {
  font-size: small;
  }


}


/* Responsive: for phones (≤ 480px) */
/* متجاوب: للهواتف (≤ 480px) */

@media (max-width: 480px) {
  .box {
  font-size: 1rem;
  padding: 1.5rem;
 }
}

