* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: larger;
  font-weight: 500;
  
}


/* START HEADER */
header {
  background-color: black;
  text-align: center;
  color: #ffffff;
  padding-block: 50px;
}

header img{
  height: 120px;
}

/* ENDS HEADER */



/* START MAIN */
main {
  min-height: 60vh;
  
}

.hero {
  background-color: #0A0E15;
  min-height: 20vh;
}

.second-hero {
  background-color: #202531;
  min-height: 20vh;
}

.third-hero {
  background-color: #37404F;
  min-height: 20vh;
}

.fort-hero {
  background-color: #4E5766;
  min-height: 20vh;
}

/* ENDS MAIN */


/* START FOOTER */
footer {
  background-color: #667085;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: medium;
}

/* ENDS FOOTER */





/* Responsive: for tablets and below (≤ 768px) */
/* متجاوب: للأجهزة اللوحية وما دونها (≤ 768px) */

@media (max-width: 768px) {
  body {
    font-size: medium;
  }

  header {
    padding-block: 25px;
  }

  header img{
  height: 75px;
  }

  footer {
  font-size: small;
  }


}


/* Responsive: for phones (≤ 480px) */
/* متجاوب: للهواتف (≤ 480px) */

@media (max-width: 480px) {
 
}